<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{249,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,16}}</string>
                <key>sourceSize</key>
                <string>{249,16}</string>
            </dict>
            <key>Bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{249,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,16}}</string>
                <key>sourceSize</key>
                <string>{249,16}</string>
            </dict>
            <key>Bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{249,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,16}}</string>
                <key>sourceSize</key>
                <string>{249,16}</string>
            </dict>
            <key>Bar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,16}}</string>
                <key>sourceSize</key>
                <string>{249,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bar.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af7380bc00c194d40169508b48d9e67$</string>
            <key>textureFileName</key>
            <string>Bar.png</string>
        </dict>
    </dict>
</plist>
