<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>D01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{1,37},{20,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>D03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{23,1},{20,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>D04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{37,23},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Role1RightDown.png</string>
            <key>size</key>
            <string>{58,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d446c473be67c0a15f19f0f3214d763a:d24421127374fa13156a4b620a5d7486:8ead8b6f85b7309cf86cc7a8d9fa74da$</string>
            <key>textureFileName</key>
            <string>Role1RightDown.png</string>
        </dict>
    </dict>
</plist>
