<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,44}</string>
                <key>textureRect</key>
                <string>{{1,37},{19,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,44}</string>
                <key>textureRect</key>
                <string>{{22,1},{19,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,44}</string>
                <key>textureRect</key>
                <string>{{37,22},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Role2Down.png</string>
            <key>size</key>
            <string>{57,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5772a5f70f4d15b00bb496cd34a246f2:3dec345bcd832c3803fc44551a715eb2:2473b00feed45ab97a1874f8e50be0b5$</string>
            <key>textureFileName</key>
            <string>Role2Down.png</string>
        </dict>
    </dict>
</plist>
