<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{16,14}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{16,14}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>monster_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,14}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{16,14}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>monster_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{16,12}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{16,12}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster01.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a703e82cd23804df701fed879df7ebb$</string>
            <key>textureFileName</key>
            <string>Monster01.png</string>
        </dict>
    </dict>
</plist>
