<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{35,29}</string>
                <key>textureRect</key>
                <string>{{20,28},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{35,25}</string>
                <key>spriteSourceSize</key>
                <string>{35,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{35,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{35,17}</string>
                <key>spriteSourceSize</key>
                <string>{35,29}</string>
                <key>textureRect</key>
                <string>{{1,28},{35,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sword1.png</string>
            <key>size</key>
            <string>{50,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d80817a6a1c7aa11008b5c8d03f06b36:76fcfd42a565b7e2eb0a4b8892137152:d967c110d041fc242653e7407fba7463$</string>
            <key>textureFileName</key>
            <string>Sword1.png</string>
        </dict>
    </dict>
</plist>
